<div class="resbanners">
  <div class="resbannercard">
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <main id="carousel">
      <div class="item">
        <img src="/assets/image/b111.jpg">
      </div>
      <div class="item">
        <img src="/assets/image/b8.jpg">
      </div>
      <div class="item">
        <img src="/assets/image/b17.jpg">
      </div>
      <div class="item">
        <img src="/assets/image/b16.jpg">
      </div>
      <div class="item">
        <img src="/assets/image/b18.jpg">
      </div>
    </main>
  </div>
</div>
