<div class="resbanners">
    <div class="container">
        <div class="card">
            <h3 class="title">Pizza</h3>
            <div class="bar">
                <div class="emptybar">
                    <img src="/assets/image/items1.jpg" class="d-block w-100" alt="..." style="height: auto;" />
                </div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!-- <circle class="stroke" cx="60" cy="60" r="50" /> -->
                </svg>
            </div>
        </div>
        <div class="card">
            <h3 class="title">Dosa</h3>
            <div class="bar">
                <div class="emptybar">
                    <img src="/assets/image/item3.jpg" class="d-block w-100" alt="..." style="height: auto;" />
                </div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!-- <circle class="stroke" cx="60" cy="60" r="50" /> -->
                </svg>
            </div>
        </div>
        <div class="card">
            <h3 class="title">Noodles</h3>
            <div class="bar">
                <div class="emptybar">
                    <img src="/assets/image/item6.jpg" class="d-block w-100" alt="..." style="height: auto;" />
                </div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!-- <circle class="stroke" cx="60" cy="60" r="50" /> -->
                </svg>
            </div>
        </div>
        <div class="card">
            <h3 class="title">Burger</h3>
            <div class="bar">
                <div class="emptybar">
                    <img src="/assets/image/item4.jpg" class="d-block w-100" alt="..." style="height: auto;" />
                </div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!-- <circle class="stroke" cx="60" cy="60" r="50" /> -->
                </svg>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <h3 class="title">ICe Cream</h3>
            <div class="bar">
                <div class="emptybar">
                    <img src="/assets/image/item1010.jpg" class="d-block w-100" alt="..." style="height: auto;" />
                </div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!-- <circle class="stroke" cx="60" cy="60" r="50" /> -->
                </svg>
            </div>
        </div>
        <div class="card">
            <h3 class="title">Samosa</h3>
            <div class="bar">
                <div class="emptybar">
                    <img src="/assets/image/b13.jpg" class="d-block w-100" alt="..." style="height: auto;" />
                </div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!-- <circle class="stroke" cx="60" cy="60" r="50" /> -->
                </svg>
            </div>
        </div>
        <div class="card">
            <h3 class="title">Rolls</h3>
            <div class="bar">
                <div class="emptybar">
                    <img src="/assets/image/item77.jpg" class="d-block w-100" alt="..." style="height: auto;" />
                </div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!-- <circle class="stroke" cx="60" cy="60" r="50" /> -->
                </svg>
            </div>
        </div>
        <div class="card">
            <h3 class="title">Chaat</h3>
            <div class="bar">
                <div class="emptybar">
                    <img src="/assets/image/item999.png" class="d-block w-100" alt="..." style="height: auto;" />
                </div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!-- <circle class="stroke" cx="60" cy="60" r="50" /> -->
                </svg>
            </div>
        </div>
    </div>
</div>
