<div class="cards">

    <!-- row 1 -->
    <div class="row">
        <div class="card mb-3 mx-auto" style="max-width: 540px; ">
            <div class="row g-0">
              <div class="col-md-4">
                <nav id="main-nav" class="sidebar">
                  <a href="/pages/orders/orderskfc.html" onclick=""><button><img src="/pic/KFC.webp" class="img-fluid rounded-start" alt="..."></button></a>
              </nav>
                <!-- <img src="/Food Deli Proj  Pure/pic/KFC.webp" class="img-fluid rounded-start" alt="..."> -->
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title">KFC</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  
                </div>
              </div>
            </div>
        </div>


        <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/pic/buger king.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title">McDonald's</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  
                </div>
              </div>
            </div>
        </div>
        
    </div>

    <!-- row 2 -->
    <div class="row">
        <div class="card mb-3 mx-auto" style="max-width: 540px; ">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/pic/2.11.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Hyderabad Mandi</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  
                </div>
              </div>
            </div>
        </div>


        <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/pic/row22.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">South Indian Meals</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  
                </div>
              </div>
            </div>
        </div>
        
    </div>


    <!-- row 3 -->
    <div class="row">
        <div class="card mb-3 mx-auto" style="max-width: 540px; ">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/pic/row31.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">South Indian Thali</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  
                </div>
              </div>
            </div>
        </div>


        <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/pic/row32.1.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Biryani House </h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  
                </div>
              </div>
            </div>
        </div>
        
    </div>


     <!-- row 4 -->
     <div class="row">
      <div class="card mb-3 mx-auto" style="max-width: 540px; ">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/pic/row4.1.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Andhra Meals</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                
              </div>
            </div>
          </div>
      </div>


      <div class="card mb-3 mx-auto" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/pic/row 42.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Breakfast Time </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                
              </div>
            </div>
          </div>
      </div>
      
    </div>
</div>

<router-outlet></router-outlet>
